body{
    display: flex;
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: grid;
    place-items: center;
    overflow: hidden;
}
#game .cell {
    width: 90px;
    height: 90px;
    font-size: 3rem;
    display: grid;
    place-items: center;
    border: 1px solid purple;
    float: left;
}

#game {
    width: 276px;
    text-align: center;
}

#results {
    position: relative;
    top: 10px;
    height: 1rem;
}

.controls {
    margin-top: 30px;
}

#reiniciar {
    padding: 14px 28px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: blueviolet;
    cursor: pointer;
}
